html, body, div, ul, li, span, p, a img, form, frameset, frame,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
#main_frame {
	font-size: 100%;
	background-color: #f2f2f2;
}
#wrap {
	width: 1100px;
	margin: 0 auto;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@-moz-document url-prefix() { /* Firefox only */
	.firefox_table {
		border-collapse: separate !important;
		border-spacing: 0px;
	}
	tr:not(:last-child) th, tr:not(:last-child) td {
		border-bottom-width: 0 !important;
	}
	th:not(:last-child), td:not(:last-child) {
		border-right-width: 0 !important;
	}
}

td {
	text-align: center;
	vertical-align: top;
}

ol, ul {list-style: none;}

#div_xcontent {
	width: 800px;
}

#div_xleft {
	width: 25px;
	height: 100px;
}

#div_xright {
	width: 760px;
}

#div_xleft, #div_xright {
	float: left;
}

.x_form_line {
	width: 800px;
	height: 40px;
	line-height: 40px;
}

.x_form_line li {
	float: left;
}

.x_form_input {
	width: 460px;
	font-size: 14px;
	text-align: left;
	vertical-align: middle;
}

.x_form_l560 {
	width: 560px;
	font-size: 14px;
	text-align: left;
	vertical-align: middle;
}

.x_form_r200 {
	width: 200px;
	font-size: 14px;
	text-align: left;
	vertical-align: middle;
}

.x_form_text {
	width: 760px;
	font-size: 14px;
	text-align: left;
	vertical-align: middle;
}



.x_form_pad {
	width: 200px;
}

.x_form_left {
	width: 200px;
	font-size: 14px;
	text-align: left;
	vertical-align: middle;
}

.x_form_middle {
	width: 100px;
	font-size: 14px;
	text-align: right;
	vertical-align: middle;
}

.x_form_right {
	width: 260px;
}

.x_form_input input, .x_form_input select, .x_form_left input, .x_form_middle input {
	margin-top: 4px !important; margin-top: 8px;
	padding: 0;
}

.x_line {
	width: 760px;
	height: 45px;
	background-image: url(./images/hline.png)
}

.x_hide {
	display: none;
}

.x_bold {
	font-weight: bold;
}

.x_table {
	border-collapse: collapse;
	border: 1px solid #888888;
	font-size: 14px;
}

.x_table tr {
	height: 24px;
	vertical-align: middle;
}

.x_table th {
	border: 1px solid #888888;
	background-color: #cccccc;
	vertical-align: middle;
}

.x_table .x_td1 {
	border: 1px solid #aaaaaa;
	background-color: #efefef;
	vertical-align: middle;
}

.x_table .x_td2 {
	border: 1px solid #aaaaaa;
	background-color: #bdd7e7;
	vertical-align: middle;
}

.x_table th, .x_table td {
	text-align: center;
}

.x_sub_title {
	width: 790px;
}

.x_sub_title li {
	float: left;
}

.x_form_area {
	width: 530px;
	margin: 0px 33px 0px 0px;
}

.tr_name{
	padding-right: 5px;
	text-align: right;
	vertical-align: middle;
}

.tr_value{
	padding-right: 5px;
	text-align: left;
	width:205px;
	vertical-align: middle;
}

.pw-strength {
    clear: both;
    position: relative;
    top: 0px;
    width: 180px;
}

.pw-bar{
    background: url(../img_glb/pwd-1.png) no-repeat;
    height: 14px;
    overflow: hidden;
    width: 179px;
}

.pw-bar-on{
    background:  url(../img_glb/pwd-2.png) no-repeat;
    width:0px;
    height:14px;
    position: absolute;
    top: 0px;
    left: 2px;
    transition: width .5s ease-in;
    -moz-transition: width .5s ease-in;
    -webkit-transition: width .5s ease-in;
    -o-transition: width .5s ease-in;
 }
 
.pw-weak .pw-defule{
    width:0px;
}

.pw-weak .pw-bar-on {
    width: 60px;
}

.pw-medium .pw-bar-on {
    width: 120px;
}

.pw-strong .pw-bar-on {
    width: 179px;
}

.pw-txt {
    padding-top: 2px;
    width: 180px;
    overflow: hidden;
}

.pw-txt span {
    color: #707070;
    float: left;
    font-size: 12px;
    text-align: center;
    width: 58px;
}

.button {
    width:140px;
}

.x_form_hint {
	vertical-align: middle;
}

.clear {                
    clear:both;
} 

.table th, .table td { 
text-align: center;
vertical-align: middle!important;
}

.article {
	width: 840px;
	min-height: 474px;
	margin-left: 2px;
	float: right;
	background: none repeat scroll 0 0 #FFFFFF;
	color: #333333;
}

.ont-navigation {
	float: left;
	width: 192px;
	height: 574px;
	text-align: right;
	
}

.ont-inner-wrap {
	width: 1050px;
	position: relative;
}
.ont-content {
	padding: 10px 10px 104px;
	width: 810px;
	min-height: 334px;
	position: relative;
}
/*.support-pull-right {
	float: right;
}*/

.table-container
{
width: 100%;
overflow-y: auto;
_overflow: auto;
margin: 0 0 1em;
}
.container{
 width: 780px !important;
 overflow-y: auto;
 _overflow: auto;
}
.white-space {
     white-space:pre
}